{% extends 'layout.html' %}

{% block meta %}
<link rel="stylesheet" href="/static/styles/blast.css">
{% endblock %}

{% block title %}200 Blast{% endblock %}

{% block header %}
<h3>200 Sequence BLAST</h3>
{% endblock %}

{% block content %}
<main>
    <!-- Filter Section -->
    <section>
        <form method="POST" action="/200seq_blast">
            {{ form.csrf_token }}
            <div class="form_field">
                {{ form.search_word.label }} {{ form.search_word(size=25) }}
                <div class="form_errors">
                    {% if form.search_word.errors %}
                    <ul>
                        {% for error in form.search_word.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>

            <input type="submit" value="Search">
            <button type="button" onclick="refreshPage()">Reset</button>
        </form>

        <div>
            <span style="color: green;">{{ data|length }} Rows Found</span>
        </div>
    </section>

    <!-- Content -->
    <section>
        {% if data|length == 0 %}
        <span>No Data Found</span>
        {% else %}
        <table>
            <thead>
                <tr>
                    {% for col in columns %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    {% for col in columns %}
                    {% if col == 'id' %}
                    <th>{{ item[col] }}</th>
                    {% else %}
                    <td>{{ item[col] }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
</main>
{% endblock %}