{% extends 'layout.html' %}

{% block meta %}
    <link rel="stylesheet" href="/static/styles/blast.css">
{% endblock %}

{% block title %}200 Blast{% endblock %}

{% block header %}
    <h3>200 Sequence BLAST</h3>
{% endblock %}

{% block content %}
    <main>
        <!-- Filter Section -->
        <section class="blast-hero">
            <form method="GET" class="blast-toolbar">
                <div class="search">
                    {{ form.search_word.label }} {{ form.search_word(size=25) }}
                    <div class="form_errors">
                        {% if form.search_word.errors %}
                            <ul>
                                {% for error in form.search_word.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <input type="submit" value="Search">
                <button type="button"
                        onclick="routeToPath('{{ url_for('seq200blast') }}')
                                ">Reset
                </button>
            </form>

            <div class="result-count">
                <strong>{{ data|length }} Rows Found</strong>
            </div>
        </section>

        <!-- Content -->
        <section class="blast-table-wrap">
            {% if data|length == 0 %}
                <span class="no-match">No Data Found</span>
            {% else %}
                <table id="blastTable">
                    <thead>
                    <tr>
                        {% for col in columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr onclick="routeToRowPage('{{ item['id'] }}')">
                            {% for col in columns %}
                                {% if col == 'id' %}
                                    <th class="cell-num">{{ item[col] }}</th>
                                {% else %}
                                    {% if filters['search_word'] %}
                                        <td>{{ (item[col] | string).replace
                                                (filters['search_word'],
                                                '<mark>' ~
                                                filters.search_word ~
                                                '</mark>') | safe }}</td>
                                    {% else %}
                                        <td>{{ item[col] }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </section>
    </main>

    <script>
        function routeToRowPage(row) {
            window.open(`/200seq_blast/${row}`, "_blank");
        }

    </script>
{% endblock %}